.grid--section-blocks {
    background: var(--bg-alt);
    // grid-template-columns: repeat(auto-fit, minmax(rem(240), 1fr));
    display: flex;    
    flex-wrap: wrap;
    align-items: stretch;

    & > * {
        min-height: rem(334);
        flex: 1 0 rem(250);
    }
}