.grid--skills-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(rem(100), 1fr));
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-5);
    justify-content: center;

    & > * {
        flex: 1 0 rem(90);
    }
}