.grid--form {
    grid-template-columns: minmax(var(--s-3), 1fr) rem($line-thickness) auto repeat(3, 1fr) minmax(var(--s-3), 1fr);
    grid-template-rows: auto repeat(3, auto rem($line-thickness)) auto auto;
    gap: var(--s-4);

    .grid__heading {
        @include grid-position(3, 1);
    }
    .grid__form-group {
        @include grid-position($column: 3)
    }

    @for $i from 1 through 3 {
        .grid__form-group--#{$i} {
            @include grid-position($row: ($i * 2));
        }
    }

    .grid__submit {
        @include grid-position(3, 9)
    }

    .grid__line--v {
        @include grid-position(2, "1/-1");
    }

    .grid__line--h-1 {
        @include grid-position("2/7", 3);
    }

    .grid__line--h-2 {
        @include grid-position("2/6", 5);
    }

    .grid__line--h-3 {
        @include grid-position("2/5", 7);
    }

}