.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($black, 0.9);
}

.modal__body {
    position: relative;
    text-align: center;
    width: 80%;
    max-width: rem(800);
    padding: var(--s-9);
    color: var(--c-text-alt);
    background: var(--c-blue-dark);

    h1 {
        font-size: var(--f-xx-large);
    }

    p {
        font-size: var(--f-larger);
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
}